---
http_interactions:
  - request:
      method: get
      uri: http://b2b-platform-staging.luizalabs.com/api/v1/shipping/39809800/sku/086094300/seller/magazineluiza
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer token
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Kong-Request-Id:
          - 80c37ce6-2e95-494d-868b-3a64e8019ee6
      body:
        encoding: UTF-8
        string:
          '[{"error_code":"ITEM_NOT_AVAILABLE_TO_REGION","message":"Item not available
          to region","details":[{"id":"marketplace_shipping","name":"Marketlace Shipping","packages":[],"out_of_stock_products":[{"quantity":1,"sku":"086094300","seller":"magazineluiza"}],"not_available_for_delivery_products":[]}],"links":[]}]'
    recorded_at: Sun, 01 Oct 2023 18:32:24 GMT
recorded_with: VCR 6.2.0
