---
http_interactions:
  - request:
      method: get
      uri: http://b2b-platform-staging.luizalabs.com/api/v1/shipping/39809800/sku/201661209/seller/magazineluiza
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer token
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Kong-Request-Id:
          - 76530559-61dc-423d-ab4c-cdd49ea7a8ff
      body:
        encoding: UTF-8
        string:
          '[{"error_code":4012,"message":"The server did not find the requested
          resource in the request","details":[{"app_error_code":1003,"description":"Product
          not exist","message":null}],"links":[]}]'
    recorded_at: Sun, 01 Oct 2023 18:05:24 GMT
recorded_with: VCR 6.2.0
