---
http_interactions:
- request:
    method: get
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/products/sku/999_999/seller/unknown
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake-token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - 0c94befc-e3de-426f-b8b8-614314adaa18
    body:
      encoding: UTF-8
      string: '[{"error_code":4012,"message":"The server did not find the requested
        resource in the request","details":[{"app_error_code":1003,"description":"Product
        not exist","message":null}],"links":[]}]'
  recorded_at: Tue, 03 Oct 2023 19:18:07 GMT
recorded_with: VCR 6.2.0
