---
http_interactions:
- request:
    method: post
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/products/pricing_and_availability
    body:
      encoding: UTF-8
      string: '{"products":[{"sku":"999_999","seller_id":"unknown"}],"show_payment_methods":false}'
    headers:
      Authorization:
      - Bearer fake-token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Kong-Request-Id:
      - c2a08056-eaaa-4ab5-a1fe-1502a0295c4d
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 03 Oct 2023 19:18:08 GMT
recorded_with: VCR 6.2.0
