---
http_interactions:
- request:
    method: post
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/products/pricing_and_availability
    body:
      encoding: UTF-8
      string: '{"products":[{"sku":"229653300","seller_id":"magazineluiza"}],"show_payment_methods":true}'
    headers:
      Authorization:
      - Bearer fake-token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Kong-Request-Id:
      - 6509dab9-aea2-4adc-8e24-d0ae28a29dfe
    body:
      encoding: UTF-8
      string: '[{"availability":"in stock","best_price":{},"sku":"229653300","seller_id":"magazineluiza","list_price":"9879.0","payment_methods":null,"price":"6658.9"}]'
  recorded_at: Tue, 03 Oct 2023 19:18:07 GMT
recorded_with: VCR 6.2.0
