---
http_interactions:
- request:
    method: get
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/customers?document=21099723000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake-token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - 54eed63d-3811-4c34-9b00-2a44684c0db4
    body:
      encoding: UTF-8
      string: '{"error_code":"NOT_FOUND","message":"The server did not find the requested
        resource in the request","details":[{"message":"Customer not found for this
        id"}],"links":[]}'
  recorded_at: Thu, 05 Oct 2023 17:09:38 GMT
recorded_with: VCR 6.2.0
