---
http_interactions:
- request:
    method: get
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/customers/a6b461b7-09f4-4186-b700-040dfb72dd74/address?complement=Apto%201&number=0&street=Rua%20dos%20Canarios&zip_code=12345678
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake-token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - a6e139ea-0537-4b0f-b7df-385258651a81
    body:
      encoding: UTF-8
      string: '{"error_code":"NOT_FOUND","message":"The server did not find the requested
        resource in the request","details":[{"message":"customer_address_id not found"}],"links":[]}'
  recorded_at: Thu, 05 Oct 2023 18:10:11 GMT
recorded_with: VCR 6.2.0
