---
http_interactions:
- request:
    method: post
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/customers
    body:
      encoding: UTF-8
      string: '{"name":"John Doe","email":"fulano@example.com","document":"12345678901","birth_date":"1990-01-01","address":{"zip_code":"12345678","street":"Rua
        dos Afagafinhos","district":"Centro","number":"0","complement":"Apto 1","reference":"Perto
        da padaria","city":"São Paulo","state":"SP"},"phone":{"area_code":"11","number":"999999999"},"responsible_name":"John
        Doe","state_inscription":"123456789"}'
    headers:
      Authorization:
      - Bearer fake-token
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - cb4d9a36-6828-458b-b643-1303c4e33b64
    body:
      encoding: UTF-8
      string: '[{"error_code":"INVALID_DOCUMENT","message":"INVALID DOCUMENT","details":[{"message":"CPF
        NOT VALID"}],"links":[]}]'
  recorded_at: Thu, 05 Oct 2023 17:01:08 GMT
recorded_with: VCR 6.2.0
