---
http_interactions:
- request:
    method: get
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/shipping/14302536/cart/71555ff9-91c3-4264-9095-06a169117cb2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake-token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - 818dca42-4cd1-4476-b775-e78adafbbcdb
    body:
      encoding: UTF-8
      string: '[{"error_code":"NOT_FOUND","message":"Cart 71555ff9-91c3-4264-9095-06a169117cb2
        does not exist","details":[],"links":[]}]'
  recorded_at: Tue, 24 Oct 2023 14:19:50 GMT
recorded_with: VCR 6.2.0
