---
http_interactions:
- request:
    method: post
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/carts/71555ff9-91c3-4264-9095-06a169117cb3/items
    body:
      encoding: UTF-8
      string: '{"sku":"invalid","seller":"magazineluiza","quantity":1}'
    headers:
      Authorization:
      - Bearer fake-token
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - ad0c6ac6-fdae-4455-b67d-443726bb3d5d
    body:
      encoding: UTF-8
      string: '[{"error_code":"ITEM_NOT_FOUND","message":"Item Not Found","details":[{"message":"Item
        invalid not found"}],"links":[]}]'
  recorded_at: Tue, 10 Oct 2023 11:23:45 GMT
recorded_with: VCR 6.2.0
