---
http_interactions:
- request:
    method: post
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/carts/fb8b28de-62ab-11ee-8c99-0242ac120002/items
    body:
      encoding: UTF-8
      string: '{"sku":"145855500","seller":"magazineluiza","quantity":1}'
    headers:
      Authorization:
      - Bearer fake-token
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - 1eca807c-cbd2-4f34-916c-7b33c3b4af0f
    body:
      encoding: UTF-8
      string: '[{"error_code":"NOT_FOUND","message":"The server did not find the requested
        resource in the request","details":[],"links":[]}]'
  recorded_at: Tue, 10 Oct 2023 11:23:45 GMT
recorded_with: VCR 6.2.0
