---
http_interactions:
- request:
    method: get
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/carts/fb8b28de-62ab-11ee-8c99-0242ac120002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake-token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - 59404be3-3651-4e94-9b2d-ab1a28d7bf8a
    body:
      encoding: UTF-8
      string: '[{"error_code":"NOT_FOUND","message":"The server did not find the requested
        resource in the request","details":[],"links":[]}]'
  recorded_at: Wed, 04 Oct 2023 11:49:00 GMT
recorded_with: VCR 6.2.0
