---
http_interactions:
- request:
    method: post
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/carts/
    body:
      encoding: UTF-8
      string: '{"items":[{"sku":"invalid","seller":"magazineluiza","quantity":1}]}'
    headers:
      Authorization:
      - Bearer fake-token
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - 06f4b543-6461-4e04-8316-1c9e5b2ba769
    body:
      encoding: UTF-8
      string: '[{"error_code":"ITEM_NOT_FOUND","message":"Item Not Found","details":[{"message":"Item
        invalid not found"}],"links":[]}]'
  recorded_at: Tue, 03 Oct 2023 19:15:30 GMT
recorded_with: VCR 6.2.0
