---
http_interactions:
- request:
    method: delete
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/carts/71555ff9-91c3-4264-9095-06a169117cb3/items/invalid/seller/magazineluiza
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake-token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - 5c389b59-0a52-4172-ba10-d25fa54dd7de
    body:
      encoding: UTF-8
      string: '[{"error_code":"ITEM_SELLER_NOT_FOUND","message":"Item Not Found","details":[{"error_message":"Item
        invalid (seller magazineluiza) not found in cart","error_code":"error","error_detail":{}}],"links":[]}]'
  recorded_at: Tue, 10 Oct 2023 12:01:21 GMT
recorded_with: VCR 6.2.0
