---
http_interactions:
- request:
    method: delete
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/carts/fb8b28de-62ab-11ee-8c99-0242ac120002/items/200487300/seller/magazineluiza
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake-token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - f2653514-a4d4-4e37-9a07-5a1fd11beb39
    body:
      encoding: UTF-8
      string: '[{"error_code":"NOT_FOUND","message":"The server did not find the requested
        resource in the request","details":[],"links":[]}]'
  recorded_at: Tue, 10 Oct 2023 12:01:24 GMT
recorded_with: VCR 6.2.0
