---
http_interactions:
- request:
    method: patch
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/carts/fb8b28de-62ab-11ee-8c99-0242ac120002
    body:
      encoding: UTF-8
      string: '{"shipping_address_id":"61627000-81cb-4ee2-b90c-97eb35198301","customer_id":"a6b461b7-09f4-4186-b700-040dfb72dd74","deliveries":[{"id":"55956efe-ffba-41bf-a073-df43c4483d54-1","modality":{"id":"1","type":"conventional"}}]}'
    headers:
      Authorization:
      - Bearer fake-token
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - 8a5b544c-c78b-41c8-9bf2-56555a84cbd5
    body:
      encoding: UTF-8
      string: '[{"error_code":"NOT_FOUND","message":"The server did not find the requested
        resource in the request","details":[],"links":[]}]'
  recorded_at: Mon, 09 Oct 2023 12:30:08 GMT
recorded_with: VCR 6.2.0
