---
http_interactions:
- request:
    method: patch
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/carts/71555ff9-91c3-4264-9095-06a169117cb3/items/invalid/seller/magazineluiza
    body:
      encoding: UTF-8
      string: '{"quantity":2}'
    headers:
      Authorization:
      - Bearer fake-token
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - cfbae095-8180-412d-8c0f-c0b698d378b0
    body:
      encoding: UTF-8
      string: '[{"error_code":"ITEM_NOT_FOUND","message":"Item Not Found","details":[],"links":[]}]'
  recorded_at: Tue, 10 Oct 2023 11:52:26 GMT
recorded_with: VCR 6.2.0
