---
http_interactions:
- request:
    method: patch
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/carts/fb8b28de-62ab-11ee-8c99-0242ac120002/items/200487300/seller/magazineluiza
    body:
      encoding: UTF-8
      string: '{"quantity":2}'
    headers:
      Authorization:
      - Bearer fake-token
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - 95cb1185-9c78-40fa-9fc8-5a0d6770d23b
    body:
      encoding: UTF-8
      string: '[{"error_code":"NOT_FOUND","message":"The server did not find the requested
        resource in the request","details":[],"links":[]}]'
  recorded_at: Tue, 10 Oct 2023 11:52:26 GMT
recorded_with: VCR 6.2.0
