---
http_interactions:
- request:
    method: post
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/orders
    body:
      encoding: UTF-8
      string: '{"cart_id":"d2d0408c-f03e-480a-9b95-1c6bcadbb872","customer_ip_address":"127.0.0.1","payment_method_id":"external","installments":1,"partner_order_id":"XYZ123","shipping_reference_contact":{"phone_ddd":"16","phone_number":"99999999"}}'
    headers:
      Authorization:
      - Bearer fake-token
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - 5cd7388a-f035-4d49-9a46-3f539f633228
    body:
      encoding: UTF-8
      string: '[{"error_code":"NOT_FOUND","message":"Cart d2d0408c-f03e-480a-9b95-1c6bcadbb872
        does not exist","details":[],"links":[]}]'
  recorded_at: Mon, 16 Oct 2023 19:25:50 GMT
recorded_with: VCR 6.2.0
