---
http_interactions:
- request:
    method: post
    uri: http://b2b-platform-staging.luizalabs.com/api/v1/oauth/token
    body:
      encoding: UTF-8
      string: '{"username":"wrong_username","password":"pass123"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Kong-Request-Id:
      - b621f2e4-9c37-4d5b-95fc-5bdbe841869a
    body:
      encoding: UTF-8
      string: '    [{"message":"Client authentication failed","error_code":"INVALID_CLIENT","links":[{"href":"https://developer.magalu.com/docs/api/orders/v1/#error-AUTHENTICATION_FAILURE"}],"details":[{"location":"header","issue":"AUTHENTICATION_FAILURE","field":"Authorization","description":"Authentication
        failed due to missing authorization header, or invalid authentication credentials"}]}]

        '
  recorded_at: Tue, 26 Sep 2023 19:14:35 GMT
recorded_with: VCR 6.2.0
